<meta charset="UTF-8">
<title>A cerca de</title>
<section id="profesores" class=" z-30 h-auto w-full flex justify-around  items-center bg-[#400711] flex-wrap">
    <!--Titulo de Profesores -->
      <div class="title  w-full  mx-auto justify-center items-center flex pt-12 flex-col">
        <h1  class="text-5xl font-bold  text-white">A cerca de Los Creadores</h1> 
      </div>
    <!-- Tabla  -->
      <div class="price__table flex w-full  items-center flex-row justify-around  flex-wrap mt-6 ">
    <!--Primera Carta -->
          <div class="price__element  rounded-lg w-80 py-5 px-7 mt-6">
              <p class="price__name text-white mb-4 font-light">Alumno</p>
              <h3 class="price__price text-white text-md font-bold">Manuel Aquino</h3>
              <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
              <div class="price__items mt-5 text-white text-sm">
                  <p class="price__features"> Me gusta la progamación, soy un apasionado por los videojuegos, en un futuro quiero ser desarrollador de grandes empresas como microsoft o google, tengo conocimiento sobre varias herramientas de desarrollo, (Java, C++, HTML, CSS, JAVASCRIPT, PHP, PYTHON, ASTRO, TAILWINDCSS) soy autodidacta, Integrante de JT Omapa, Semifinalista, proactivo y me gusta trabajar en equipo  </p>
                  
          </div>
      </div>
    <!--Segunda Carta -->
      <div class="price__element  rounded-lg w-80 py-5 px-7 mt-6">
        <p class="price__name text-white mb-4 font-light">Alumno</p>
        <h3 class="price__price text-white text-md font-bold">Santiago Ayala</h3>
        <img class="h-32 mx-auto " src="/ProfeCalito.png" alt="">
    
        <div class="price__items mt-5 text-gray-700 text-sm">
            <p class="price__features text-white">Actualmente cursando el bachillerato técnico en informática en el Colegio Nacional Dr. Raúl Peña. Mi pasión por la tecnología y el diseño me ha llevado a adquirir conocimientos sólidos en diversas áreas. Entre mis habilidades destacan el dominio de herramientas como Apache Netbeans, HTML, CSS, JavaScript, Astro y Tailwind CSS.</p>
            
    </div>
    </div>
    <!--Tercera Carta -->
    <div class="price__element rounded-lg w-80 py-5 px-7 mt-6">
      <p class="price__name text-white mb-4 font-light">Alumna</p>
      <h3 class="price__price text-white text-md font-bold">Elvira Gomez</h3>
      <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
    
      <div class="price__items mt-5 text-gray-700 text-sm">
          <p class="price__features text-white">Es uno de los profesores más divertidos. Especial para todos, con amplio conocimiento en su materia, facilita ingresar al mundo de la informática. Su estilo de enseñanza apasionado inspira a explorar y dominar el campo</p>
          
    </div>
    </div>
    <!--Cuarta Carta -->
    
    <div class="price__element rounded-lg w-80 py-5 px-7 mt-6">
      <p class="price__name text-white mb-4 font-light">Alumno</p>
      <h3 class="price__price text-white text-md font-bold">Matias Gonzalez</h3>
      <img class="h-32 mx-auto " src="/ProfeLilian.png" alt="">
    
      <div class="price__items mt-5 text-gray-700 text-sm">
          <p class="price__features text-white">Me gustan el deporte (mayormente el futbol), me gusta la programación(hasta cierto punto) me guntan los mangas y salir a compartir con mis amigos.
            lo que me gustaria hacer en el futuro es conseguir un buen trabajo para darme mis gustos y poder mantener a mi familia entre otras cosas y por sobre todo ser feliz.</p>
          
    </div>
    </div>