---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import MasInfoSection from "../components/MasInfoSection.astro";
import HistoriaSection from "../components/HistoriaSection.astro";
import Historia2Section from "../components/Historia2Section.astro";
import TestimoniosSection from "../components/TestimoniosSection.astro";
import PorqueInfo from "../components/PorqueInfo.astro";
import Contacto from "../components/Contacto.astro";
import Testimonio from "../components/Testimonio.astro";



---

<Layout title="Informática">

  <main class=" snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">


  <div class="snap-center ">
    <HeroSection/>
  </div>  
  <div class="snap-center">
    <MasInfoSection />
  </div>
  <div class="snap-center">
    <HistoriaSection/>
  </div>
  <div class="snap-center ">
    <Historia2Section/>
  </div>
  
  <div class="snap-start">
    <TestimoniosSection/>
  </div>

  <div class="snap-center">
    <PorqueInfo/>
  </div>
  <div class="snap-center">
    <Contacto/>
  </div>

  <div class="snap-start">
    <Testimonio/>
  </div>
  </main>
  </Layout>
