---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import MasInfoSection from "../components/MasInfoSection.astro";
import ProfesoresSection from "../components/ProfesoresSection.astro";

---

<Layout title="Informática">
  <LandingHeader/>
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <HeroSection/>
    </div>  
    <div class="snap-center">
      <MasInfoSection />
    </div>
    <div class="snap-center">
      <ProfesoresSection/>
    </div>
  </main>
</Layout>
