<meta charset="UTF-8">
<footer class="w-full h-screen bg-[#400711] flex justify-center items-center ">
    <div class="">
        <form class="flex flex-col items-center justify-center flex-wrap" action="" method="post">
            
                <label class="text-white">Nombre completo: </label>
                <input class="rounded-lg mb-1.5 bg-transparent border-none" style="border-bottom: 1px solid #fff ;" type="text" name="fullname">
            
            
                <label class="text-white block my-5">Correo electronico: </label>
                <input class="rounded-lg mb-1.5 bg-transparent border-none" style="border-bottom: 1px solid #fff ;" type="email" name="email">
            
            
                <label class="text-white block my-5">Número de celular: </label>
                <input class="rounded-lg mb-1.5 bg-transparent border-none" style="border-bottom: 1px solid #fff ;" type="tel" name="phone">
           
            
                <label class="text-white block my-5">Asunto: </label>
                <input class="rounded-lg mb-1.5 bg-transparent border-none" style="border-bottom: 1px solid #fff ;" type="text" name="affair">
            
            
               <label class="text-white block my-5">Mensaje: </label> 
                <textarea class=" block mb-5 rounded-lg bg-transparent border-none" style="border-bottom: 1px solid #fff ;" name="message" rows="3"></textarea>
           
           
                <button class="bg-red-900 rounded-lg px-4  py-2 mt-1.5 text-white">
                    Enviar
                </button>
          
        </form>
    </div>
</footer>