<section>
    <div >
        <h2
            class="mx-5 text-center text-white text-2xl font-bold pt-20 md:text-4xl md:text-white md:pt-48 md:font-bold md:mx-24 ">
            La modalidad de Informática más destacada y relevante del Colegio
            Nacional E.M.D. Dr. Raúl Peña
        </h2>

        <p
            class="mx-5 text-center text-white font-light text-lg pt-8">
            Somos líderes en innovación tecnológica, excelencia<br />
            educativa y variedad de programas académicos, egresados, estudiantes
            y profesores.
        </p>
    </div>

    <footer class="flex flex-grow justify-end flex-col  pb-20 ">
        <div>
            <a
            class="text-white text-sm font-medium border-[3px] rounded px-8 py-2 hover:text-black hover:bg-white border-white transition-colors duration-300 bg-white/5 backdrop-blur-sm"
            href="#historiaa">Conocer Más</a>
        </div>
    </footer>
</section>