
<section
class="h-screen mx-auto relative md:bg-black md:h-screen md:text-center md:overflow-hidden ">
<div class="z-30 relative h-full flex flex-col items-center justify-center ">

  <header id="home" class="flex flex-grow flex-col ">
    <h2
      class=" pt-28 mx-5 text-center text-white text-2xl font-bold  md:text-4xl md:text-white md:pt-48 md:font-bold md:mx-24 ">
      La modalidad de Informática más destacada y relevante del Colegio
      Nacional E.M.D. Dr. Raúl Peña
    </h2>
    <p
      class="mx-5 text-center text-white font-light text-lg pt-8">
      Somos líderes en innovación tecnológica, excelencia<br />
      educativa y variedad de programas académicos, egresados, estudiantes
      y profesores.
    </p>
  </header>

  <footer class="flex flex-grow justify-end flex-col  pb-36 md:pb-24 ">
    <div>

      <a
      class="text-white text-sm font-medium border-[3px] rounded px-8 py-2 hover:text-black hover:bg-white border-white transition-colors duration-300 bg-white/5 backdrop-blur-sm"
      href="#historiaa">Conocer Más</a>
    </div>
    </footer>
    
</div>
<!-- CTA -->

<div class="absolute top-0 bottom-0 left-0 right-0 bg-[url('../public/hero.webp')] bg-cover bg-center" style="background-image: url('/hero.webp');">
</div>
<div slot="background" class="absolute inset-0 bg-black opacity-50"></div>
</section>
