<section class="h-screen mx-auto relative bg-black text-center overflow-hidden w-full box-border flex items-center">
  <main>
    <div class="z-30 relative flex flex-col md:flex-row justify-center items-center">
      <!-- Contenido del lado izquierdo -->
      <div class="w-[40vw] px-8 mx-5 mr-48">
        <h2 id="historia" class="text-left text-white text-4xl font-bold">
          CONOCÉ LA MODALIDAD
        </h2>
        <p class="text-left text-white font-light text-xl mt-4">
          Hace más de 26 años formamos a estudiantes con un alto sentido del aprendizaje.
        </p>
      </div>
      <!-- Contenedor del lado derecho -->
      <div class="hola mx-5 w-[30vw] h-[30vh] z-40 flex  ml-auto mr-1 flex-wrap justify-center items-center text-white jus ">
        <div class="w-[100%] h-[50%] flex justify-center items-center bg-red-700 rounded-lg mb-5"><a href="">¿Por qué Informática?</a></div>
        <div class="w-[32%] h-[50%] flex justify-center items-center bg-red-700 p-4 rounded-lg"><a href="">Historia</a></div>
        <div class="w-[32%] h-[50%] flex justify-center items-center bg-red-700 p-4 rounded-lg mx-2 "><a href="">Profesores</a></div>
        <div class="w-[32%] h-[50%] flex justify-center items-center bg-red-700 p-4 rounded-lg"><a href="">Materias</a></div>
      </div>
    </div>
    <!-- CTA -->
    <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
  </main>
</section>
