<section class="h-screen mx-auto relative  flex items-center justify-center">
    <main>
      <div class="z-30 relative flex flex-col justify-center items-center text-justify ">
        <!-- Contenido del lado izquierdo -->
        <div class="w-full h-screen mt-24">
          <p id="historia" class="  text-white text-sm md:text-2xl font-extralight md:mx-10  text-justify mx-5">

            La modalidad de Informática del Colegio Nacional E.M.D. Dr. Raúl Peña, fundada en [1998], es una de las instituciones educativas más destacadas y de mayor tradición en el campo de la informática en [Caacupé Barrio Loma]. En sus inicios, se centró en ofrecer programas pioneros en esta disciplina, preparando a estudiantes en áreas como desarrollo de software, redes informáticas y tecnologías emergentes.
<br>
<br>
            Hoy en día, la modalidad de Informática cuenta con una amplia oferta educativa que incluye [número de programas/carreras], con un cuerpo docente comprometido de [número de docentes]. Hemos graduado a una destacada comunidad de [24 Promociones] profesionales en informática, y seguimos expandiendo nuestra presencia en [Caacupé] para brindar oportunidades educativas a estudiantes de todo el país.
<br>
<br>
  Nuestra modalidad está comprometida con la sociedad desde sus inicios, fomentando la educación,la investigación y la innovación en tecnología para contribuir al desarrollo de nuestra comunidad y preparar a nuestros estudiantes para los desafíos del futuro.
</p>
</div>
</div>
    
      </div>
      <!-- CTA -->
      <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
    </main>
  </section>
  