<section
class="h-screen mx-auto relative md:bg-black md:h-screen md:text-center md:overflow-hidden">
<div class="z-30 relative h-full flex flex-col items-start ">

  <header class="text-start items-start  ">
    <h2
      id="historia" class="mx-5 md:text-start text-white text-6xl font-bold pt-20  md:text-white md:pt-48 md:font-bold md:mx-24 text-center">
      Historia
    </h2>
    <p
      class="pt-28 md:mx-24 mx-8 md:text-start text-white font-light text-base md:text-2xl ">
      Los estudiantes de la modalidad de Inform치tica crean y 
      aplican  conocimientos mediante el pensamiento y la acci칩n,
      prepar치ndose para liderar en un entorno que evoluciona 
      r치pidamente.
    </p>
  </header>
  <footer class="flex items-center justify-end flex-col flex-grow mx-auto animate-bouncing animate-iteration-count-infinite mb-20 md:mb-5">
    <div class="text-white ">
      <svg xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 24 24" 
      stroke-width="1.5" 
      stroke="currentColor" 
      class="w-8 h-8 md:w-16 md:h-16">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
    </div>
    
    </svg>
    
  </footer>


    
</div>
<!-- CTA -->

<div class="absolute top-0 bottom-0 left-0 right-0 bg-[url('../public/hero.webp')] bg-cover bg-center" style="background-image: url('/HistoryHero.webp');">
</div>
<div slot="background" class="absolute inset-0 bg-black opacity-60"></div>
</section>
