<section class="h-screen mx-auto relative  flex items-center justify-center">
    <main>
      <div class="z-30 relative flex flex-col justify-center items-center text-justify ">
        <!-- Contenido del lado izquierdo -->
        <div class="w-full h-screen mt-24">
          <p id="historia" class="  text-white text-base md:text-2xl font-extralight md:mx-10  text-justify md:hidden mx-5">
            Nuestra modalidad está comprometida con la sociedad desde sus inicios, fomentando la educación,la investigación y la innovación en tecnología para contribuir al desarrollo de nuestra comunidad y preparar a nuestros estudiantes para los desafíos del futuro.
          </p>
        </div>
    
      </div>
      <!-- CTA -->
      <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
    </main>
  </section>
  