<section
class="h-screen mx-auto relative md:bg-black md:h-screen md:text-center md:overflow-hidden">
<div class="z-30 relative h-full flex flex-col items-start ">

  <header class="text-start items-start ">
    <h2
      class="mx-5 text-start text-white text-6xl font-bold pt-20  md:text-white md:pt-48 md:font-bold md:mx-24 ">
      Historia
    </h2>
    <p
      class="mx-24 text-start text-white font-light text-2xl pt-8">
      Los estudiantes de la modalidad de Inform치tica crean y 
      aplican <br> conocimientos mediante el pensamiento y la acci칩n,
      <br>prepar치ndose para liderar en un entorno que evoluciona 
      r치pidamente.
    </p>
  </header>


    
</div>
<!-- CTA -->

<div class="absolute top-0 bottom-0 left-0 right-0 bg-[url('../public/hero.webp')] bg-cover bg-center" style="background-image: url('/HistoryHero.webp');">
</div>
<div slot="background" class="absolute inset-0 bg-black opacity-60"></div>
</section>
