<section class="h-screen mx-auto relative  flex items-center justify-center">
    <main>
      <div class="z-30 relative flex flex-col justify-center items-center text-justify ">
        <!-- Contenido del lado izquierdo -->
        <div class="h-screen w-full pt-12 overflow-hidden  text-justify">
          <p id="historia" class="  text-white  text-sm  md:text-2xl font-extralight text-justify md:mx-10 mx-5 ">
            Los desafíos del avance de la tecnología, especialmente de las diferentes herramientas informáticas, llevaron a las autoridades educativas de nuestra institución, bajo la dirección de la Lic. Margarita Ortiz de García, a gestionar la apertura de un bachilletaro técnico que proporcione a los estudiantes una sólida formación técnica, ética y humanística que les permita proyectar las competencias para incorporar y desarrollar programas informáticos, instalar (hardware y software), asistencia técnica, aplicación del pensamiento crítico y el método científico en los problemas propios de la informática, adecuándose a las exigencias de los cambios tecnológicos del mundo globalizado. <br> <br>
            De esa manera, después de cumplir con todos los requerimientos del MEC, en el año 1998 se habilita el Bachillerato Técnico en Informática siendo la primera coordinadora de la especialidad la Mgtr. Raquel Godoy de Cousiño. En el año 2000 egresan los 31 flamantes Bachilleres Técnicos en Informática de la primera promoción. <br> Los siguientes coordinadores fueron la Mgtr. Graciela Agüero, la Lic. Alicia Ruiz Díaz y el Lic. Jorge Daniel Mendoza Figueredo. Actualmente la coordinación está a cargo de la Prof. Ana Patricia Chávez Osorio. 
           <br><br> En 25 años egresaron 23 promociones de estudiantes capacitados para insertarse al campo laboral y desempeñarse eficiente y eficazmente en pequeñas y medianas empresas de servicios públicos y/o privados.
            
</p>
</div>
</div>
    
      </div>
      <!-- CTA -->
      <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
    </main>
  </section>
  