<section class="h-screen mx-auto relative  flex items-center justify-center">
    <main>
      <div class="z-30 relative flex flex-col justify-center items-center ">
        <!-- Contenido del lado izquierdo -->
        <div class="">
          <p id="historia" class="text-left text-white text-2xl font-extralight mx-10 ">

            La modalidad de Informática del Colegio Nacional E.M.D. Dr. Raúl Peña, fundada en [1998]<br>, es una de las instituciones educativas más destacadas y de mayor tradición en el <br>campo de la informática en [Caacupé Barrio Loma]. En sus inicios, se centró en ofrecer programas pioneros en <br> esta disciplina, preparando a estudiantes en áreas como desarrollo de software, redes informáticas<br> y tecnologías emergentes.
<br>
<br>
            Hoy en día, la modalidad de Informática cuenta con una amplia oferta educativa que incluye <br>[número de programas/carreras], con un cuerpo docente comprometido de [número de docentes].<br> Hemos graduado a una destacada comunidad de [24 Promociones] profesionales en<br> informática, y seguimos expandiendo nuestra presencia en [Caacupé] para brindar<br> oportunidades educativas a estudiantes de todo el país.
<br>
<br>
            Nuestra modalidad está comprometida con la sociedad desde sus inicios, fomentando la educación,<br> la investigación y la innovación en tecnología para contribuir al desarrollo de nuestra comunidad y<br> preparar a nuestros estudiantes para los desafíos del futuro.
          </p>
        </div>
    
      </div>
      <!-- CTA -->
      <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
    </main>
  </section>
  