---

---
<!--Barra de navegación -->
<header
class="py-3 px-10 flex fixed z-40 w-full  text-white">
<div
  class="hover:cursor-pointer text-white hover:animate-sway hover:text-red-700 transition-colors duration-300 mx-auto "
>
<svg xmlns="http://www.w3.org/2000/svg"
  fill="currentcolor" 
  class="bi bi-pc-display w-6 h-6" 
  viewBox="0 0 24 24">
  <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z"/>
</svg>
 
</div>




<!-- Menu Lateral Izquierdo -->
<nav
  class=" hidden md:flex text-white flex-grow justify-end basis-0">
  <ul
    class="flex text-white text-sm [&>li>a]:px-4 [&>li>a]:py-2 text-xxl font-bold">
    <li><a class="hover:text-red-700" href="#historia">Historia</a></li>
    <li><a class="hover:text-red-700" href="#">Testimonios</a></li>
    <li><a class="hover:text-red-700" href="#">P. Egresado</a></li>
    <li><a class="hover:text-red-700" href="#">Imágenes</a></li>
    <li><a class="hover:text-red-700" href="#">Acerca De</a></li>
    <li><a class="hover:text-red-700" href="#">Contactos</a></li>
  </ul>
</nav>
</header>
<!-- Hero -->