<section class="h-screen mx-auto relative bg-black text-center overflow-hidden w-full box-border flex items-center">
  <main class="flex flex-col w-full">
    <div class="z-30 relative flex flex-col md:flex-row  mt-0 pt-0">
      <!-- Contenido del lado izquierdo -->
      <div class="w-full md:w-[40vw] md:px-8 md:mx-5 md:mr-20 mx-auto">
        <h2 id="historiaa" class="text-center md:text-left text-4xl text-white md:text-4xl font-bold">
          CONOCÉ LA MODALIDAD
        </h2>
        <p class="text-center mx-auto md:text-left text-white font-light text-base md:text-sm mt-4">
          Hace más de 26 años formamos a estudiantes con un alto sentido del aprendizaje.
        </p>
      </div>
      <!-- Contenedor del lado derecho -->
      
      <div class="hola mx-5 w-[45vw] box-border  h-[38vh] z-40 flex  ml-auto mr-1 flex-wrap justify-center items-center text-white ">
        
        <a class="md:w-[90%] md:h-[50%] w-[45vw] h-[80%] flex justify-center items-center relative bg-[url(https://image.freepik.com/foto-gratis/estudiantes-usando-computadora-aula_107420-88979.jpg)] bg-cover bg-center rounded-xl mb-5 group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0  bg-black opacity-50 rounded-xl "></div> <!-- Superposición -->
          <span class="text-white z-10 ">¿Por Qué Informática?</span> <!-- Contenido del enlace -->
        </a>

        <a class="md:w-[28%] md:h-[50%] flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.1FGGfkH_twIxm0zcKR-HgwHaE1?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#historia">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Historia</span>
        </a>
        
        <a class="md:w-[28%] md:h-[50%] flex justify-center items-center relative bg-[url(https://s3-eu-west-1.amazonaws.com/assets.mheducation.es/blog/imagenespost/5m-que-caracteriza-a-los-profesores-eficaces.jpg)] bg-cover p-4 rounded-xl mx-5 group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Profesores</span>
        </a>
        
        <a class="w-[28%] h-[50%] flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.El4uNT86KLo8YNnrklaDvAHaEV?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Materias</span>
        </a>
        
      </div>
    </div>
    <!-- CTA -->
    <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
  </main>
</section>
