<section class="h-screen mx-auto relative bg-black text-center overflow-hidden w-full box-border flex items-center">
  <main>
    <div class="z-30 relative flex flex-col md:flex-row justify-center items-center">
      <!-- Contenido del lado izquierdo -->
      <div class="w-[40vw] px-8 mx-5 mr-20">
        <h2 id="historia" class="text-left text-white text-4xl font-bold">
          CONOCÉ LA MODALIDAD
        </h2>
        <p class="text-left text-white font-light text-xl mt-4">
          Hace más de 26 años formamos a estudiantes con un alto sentido del aprendizaje.
        </p>
      </div>
      <!-- Contenedor del lado derecho -->
      <div class="hola mx-5 w-[45vw] box-border  h-[38vh] z-40 flex  ml-auto mr-1 flex-wrap justify-center items-center text-white ">
        
        <a class="w-[90%] h-[50%] flex justify-center items-center relative bg-[url(https://image.freepik.com/foto-gratis/estudiantes-usando-computadora-aula_107420-88979.jpg)] bg-cover bg-center rounded-xl mb-5 group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0  bg-black opacity-50 rounded-xl "></div> <!-- Superposición -->
          <span class="text-white z-10 ">¿Por Qué Informática?</span> <!-- Contenido del enlace -->
        </a>

        <a class="w-[28%] h-[50%] flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.1FGGfkH_twIxm0zcKR-HgwHaE1?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Historia</span>
        </a>
        
        <a class="w-[28%] h-[50%] flex justify-center items-center relative bg-[url(https://s3-eu-west-1.amazonaws.com/assets.mheducation.es/blog/imagenespost/5m-que-caracteriza-a-los-profesores-eficaces.jpg)] bg-cover p-4 rounded-xl mx-5 group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Profesores</span>
        </a>
        
        <a class="w-[28%] h-[50%] flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.El4uNT86KLo8YNnrklaDvAHaEV?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
          <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> <!-- Superposición -->
          <span class="text-white z-10">Materias</span>
        </a>
        
      </div>
    </div>
    <!-- CTA -->
    <div slot="background" class="absolute inset-0 bg-[#400711] opacity-100"></div>
  </main>
</section>
