<section>
  <div class="hola md:mx-5 md:w-auto box-border  h-[38vh] z-40 flex  md:ml-auto md:mr-1 flex-wrap justify-center items-center text-white  w-full">
  
    

    <div class="w-72">
      <a class="md:w-[12%] w-[25%] h-52 flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.1FGGfkH_twIxm0zcKR-HgwHaE1?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#historia">
        <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> 
      </a>

      <h2 class="text-center text-2xl">Prof. Paul</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vel, provident enim unde ipsam tempore sint, tempora animi magni commodi corporis culpa est, architecto inventore velit explicabo ipsa voluptatibus veniam.</p>
    </div>
    
    <div>
      <a class="md:w-[12%] w-[25%] h-52 flex justify-center items-center relative bg-[url(https://s3-eu-west-1.amazonaws.com/assets.mheducation.es/blog/imagenespost/5m-que-caracteriza-a-los-profesores-eficaces.jpg)] bg-cover p-4 rounded-xl mx-2  md:mx-5 group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
        <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div>
      </a>

      <h2>Prof. Lilian</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vel, provident enim unde ipsam tempore sint, tempora animi magni commodi corporis culpa est, architecto inventore velit explicabo ipsa voluptatibus veniam.</p>
    </div>

    <div>
      <a class="md:w-[12%] h-52 w-[25%] flex justify-center items-center relative bg-[url(https://th.bing.com/th/id/OIP.El4uNT86KLo8YNnrklaDvAHaEV?rs=1&pid=ImgDetMain)] bg-cover p-4 rounded-xl group transform transition-transform duration-500  animate-steps-modern hover:scale-110 " href="#">
        <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div> 

        <h2>Prof. XD</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vel, provident enim unde ipsam tempore sint, tempora animi magni commodi corporis culpa est, architecto inventore velit explicabo ipsa voluptatibus veniam.</p>
      </a>
    </div>
  </div>
</section>