<section id="profesores" class=" z-30 h-auto w-full flex justify-around  items-center bg-[#400711] flex-wrap">
<!--Titulo de Profesores -->
  <div class="title  w-full  mx-auto justify-center items-center flex pt-12 flex-col">
    <h1  class="text-5xl font-bold  text-white">Profesores</h1> 
  </div>
<!-- Tabla  -->
  <div class="price__table flex w-full  items-center flex-row justify-around  flex-wrap mt-6 ">
<!--Primera Carta -->
      <div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
          <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
          <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
          <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
          <div class="price__items mt-5 text-gray-700 text-sm">
              <p class="price__features">La coordinadora del bachiller es una profesional responsable y aplicada, con una atención meticulosa a los detalles. Competente en la gestión y organización, garantiza el funcionamiento eficiente del programa educativo.</p>
              
          <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
      </div>
  </div>
<!--Segunda Carta -->
  <div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
    <p class="price__name text-gray-700 mb-4 font-light">Gabinete de Informática</p>
    <h3 class="price__price text-gray-900 text-md font-bold">Carlos Benítez</h3>
    <img class="h-32 mx-auto " src="/ProfeCalito.png" alt="">

    <div class="price__items mt-5 text-gray-700 text-sm">
        <p class="price__features">Un profesor muy capacitado de gabinete en informática es un experto en tecnología. Con una amplia experiencia y habilidades técnicas avanzadas, imparte conocimientos sólidos en áreas como en la programación.</p>
        
    <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
<!--Tercera Carta -->
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Gabinete De Informática</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Paúl Martinez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Es uno de los profesores más divertidos. Especial para todos, con amplio conocimiento en su materia, facilita ingresar al mundo de la informática. Su estilo de enseñanza apasionado inspira a explorar y dominar el campo</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
<!--Cuarta Carta -->

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Matemática</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Lilian Ortellado</h3>
  <img class="h-32 mx-auto " src="/ProfeLilian.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Experta en matemáticas, comprometida en enseñar una materia clave para el bachillerato y la carrera de informática. Su enfoque innovador motiva a los estudiantes a alcanzar su máximo potencial académico y profesional.</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
  
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Adminastración de Negocios</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Rosa Rolón</h3>
  <img class="h-32 mx-auto " src="/ProfeRR.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Es una profesora muy competente y cariñosa con los estudiantes y nos ayuda a introducirnos a todo lo que tenga que ver con la administración de negocios y así poder tener una base para el siguiente año tanto como poder administrar nuestros gastos a futuro</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">L. y L. Castellana</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Enzo Giménez</h3>
  <img class="h-32 mx-auto " src="/ProfeEnzo.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Es un profesor muy inteligente y aplicado, siempre da lo mejor de sí para que sus estudiantes puedan aprender y formarse como una persona útil para la sociedad. Su dedicación y compromiso son ejemplares, inspirando a sus alumnos a alcanzar su máximo potencial.</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Historia y Geografía</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Elizabeth Random</h3>
  <img class="h-32 mx-auto " src="/ProfeHsitoria.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Historia y Geografía</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Belén Alvarez</h3>
  <img class="h-32 mx-auto " src="/ProfeBelen.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Historia y Geografía</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Nestor Ramirez</h3>
  <img class="h-32 mx-auto " src="/ProfeNestor.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Es un profesor muy divertido y extrovertido, es capaz de caer bien a los estudiantes y ayudarlos a mejorar como personas en las 2 materias que lleva ayudando a ser más conscientes de nosotros mismos y ser mejores que antes. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Ciencias Naturales</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Graciela Portillo</h3>
  <img class="h-32 mx-auto " src="/ProfeCiencias.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Una profesora amable y paciente de ciencias naturales es conocedora apasionada del mundo natural. Con su paciencia, guía a los estudiantes a través de conceptos complejos, fomentando la curiosidad y el entendimiento.</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Quimica</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Fany Britos</h3>
  <img class="h-32 mx-auto " src="/ProfeQuimica.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Una buena profesora de química introductoria es apasionada por su materia y tiene la habilidad de hacerla accesible y emocionante para sus estudiantes. Utiliza ejemplos prácticos y aplicaciones cotidianas para explicar conceptos complejos de manera clara y comprensible.</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Quimica</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Jaqueline Portillo</h3>
  <img class="h-32 mx-auto " src="/ProfeJaqui.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Es una profesora muy carismática y simpática, tiene varios conocimientos en el tema de la química y tiene una muy buena metodología de enseñanza que ayuda a los estudiantes a entender bien la materia mientras se divierten con clases prácticas. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Educación Vial</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Jessica Ruíz</h3>
  <img class="h-32 mx-auto " src="/ProfeJessic.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Una profesora muy segura de sí misma en cuanto a su materia de seguridad vial es una experta en su campo, con un profundo conocimiento y confianza en los principios y prácticas de seguridad vial. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Física</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Edber Gimenez</h3>
  <img class="h-32 mx-auto " src="/ProfeEdber.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features">Un profesor conocedor y apasionado de la física es un experto en el estudio de las leyes fundamentales del universo. Con un profundo entendimiento de los principios físicos, inspira a sus estudiantes con su pasión y dedicación.</p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Educ. Física</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Teresita Cañisa</h3>
  <img class="h-32 mx-auto " src="/ProfeTere.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>


<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Psicología</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Andrea Cristaldo</h3>
  <img class="h-32 mx-auto " src="/ProfePsico.png" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
