<section id="profesores" class=" z-30 h-auto w-full flex justify-around  items-center bg-[#400711] flex-wrap">
<!--Titulo de Profesores -->
  <div class="title  w-full  mx-auto justify-center items-center flex pt-12 flex-col">
    <h1  class="text-5xl font-bold  text-white">Profesores</h1> 
  </div>
<!-- Tabla  -->
  <div class="price__table flex w-full  items-center flex-row justify-around  flex-wrap mt-6 ">
<!--Primera Carta -->
      <div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
          <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
          <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
          <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
          <div class="price__items mt-5 text-gray-700 text-sm">
              <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
              
          <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
      </div>
  </div>
<!--Segunda Carta -->
  <div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
    <p class="price__name text-gray-700 mb-4 font-light">Gabinete de Informática</p>
    <h3 class="price__price text-gray-900 text-md font-bold">Carlos Benítez</h3>
    <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

    <div class="price__items mt-5 text-gray-700 text-sm">
        <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
        
    <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
<!--Tercera Carta -->
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Gabinete De Informática</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Paúl Martinez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
<!--Cuarta Carta -->
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Dibujo Técnico</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Hugo Huespe</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
  
<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>


<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>

<div class="price__element bg-gray-200 rounded-lg w-80 py-5 px-7 mt-6">
  <p class="price__name text-gray-700 mb-4 font-light">Coordinadora</p>
  <h3 class="price__price text-gray-900 text-md font-bold">Ana Chavez</h3>
  <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">

  <div class="price__items mt-5 text-gray-700 text-sm">
      <p class="price__features"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet distinctio reprehenderit, eius voluptas cumque quia aut hic. Voluptate, cupiditate, qui quasi consectetur inventore enim culpa modi soluta animi voluptatibus excepturi. </p>
      
  <a href="#" class="price__cta  block mt-5 py-5 px-3 bg-white rounded-lg text-red-600 font-semibold shadow-md hover:bg-red-600 hover:text-white transition-colors duration-500 delay-75  animation-sway">Conocer Más</a>
</div>
</div>
  
  </div>
  
</section>
