<title>Testimonios</title>
<section id="testimonio" class=" z-30 h-auto w-full flex justify-around  items-center bg-[#400711] flex-wrap">
    <!--Titulo -->
      <div class="title  w-full  mx-auto justify-center items-center flex pt-12 flex-col">
        <h1  class="text-5xl font-bold  text-white">Testimonios</h1> 
      </div>
    <!-- Tabla  -->
      <div class="price__table flex w-full  items-center flex-row justify-around  flex-wrap mt-6 ">
    <!--Primera Carta -->
          <div class="price__element  rounded-lg w-80 py-5 px-7 mt-6">
              <p class="price__name text-white mb-4 font-light">Profesor</p>
              <h3 class="price__price text-white text-md font-bold">Nestor</h3>
              <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
              <div class="price__items mt-5 text-white text-sm">
                  <p class="price__features">Informática es una carrera estudiantil que tiene muchísimo campo hoy en día los jóvenes y las empresas también están buscando realizar el área de informática considerando que vivimos en un mundo de la tecnología y la digitalización por lo tanto yo desde mi área de Historia y Geografía y Desarrollo Personal considero que mi trabajo en el área va más bien dedicado a crear conciencia y complementar un poquito la parte tecnológica que ustedes están haciendo dentro de su bachillerato.</p>
                  
          </div>
      </div>
    <!--Segunda Carta -->
      <div class="price__element  rounded-lg w-80 py-5 px-7 mt-6">
        <p class="price__name text-white mb-4 font-light">Coordinadora</p>
        <h3 class="price__price text-white text-md font-bold">Ana Chavez</h3>
        <img class="h-32 mx-auto " src="/ProfeCalito.png" alt="">
    
        <div class="price__items mt-5 text-gray-700 text-sm">
            <p class="price__features text-white">Como profesional representa para mi una experiencia enriquecedora atendiendo los desafíos de la informática actualmente. Es así que sigo la cadena de la actualización en la rama a modo de seguir ofreciendo un acompañamiento eficiente y eficaz. La especialidad representó y lo sigue haciendo en formato actual una oportunidad de aprendizaje diario al lado de profesionales competentes para contribuir con la formación técnica de estudiantes.</p>
            
    </div>
    </div>
    <!--Tercera Carta -->
    <div class="price__element rounded-lg w-80 py-5 px-7 mt-6">
      <p class="price__name text-white mb-4 font-light">Ex alumno</p>
      <h3 class="price__price text-white text-md font-bold">Emma Robles</h3>
      <img class="h-32 mx-auto " src="/ProfePaul.webp" alt="">
    
      <div class="price__items mt-5 text-gray-700 text-sm">
          <p class="price__features text-white">La verdad es que el bachillerato técnico en informática tiene muchísimo que ofrecer a la hora de enseñar, ya sea en el tema de programación o en las computadoras, pero lastimosamente mi promoción no pudo aprender mucho por la pandemia pero lo poco que aprendí me sirvió bastante ahora que estoy en la universidad.</p>
          
    </div>
    </div>
    