---
// Supports weights 100-900
import '@fontsource-variable/jost';
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import LandingHeader from '../components/LandingHeader.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MultiBTI landing Es una Web Para Conocer La modalidad Informática" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="colegio, Colegio, colegio nacional E.M.D, caacupe, modalidad, cordillera, informatica, bachillerato, institucion, bachillerato tecnico"/>
		<meta name="author" content="Manuel Aquino Alias eymaanu" />
		<meta name="copyright" content="© eymaanu" />
		<meta property="og:image" content="https://files.fm/f/pg3amy2etn">
		<title>{title}</title>
	</head>
	<LandingHeader />
	<body >
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Montserrat Variable', sans-serif;
		background: none;
		
	}
</style>
